{% extends 'base.html' %}
{% block content %}
    {% include 'header-top.html' %}
    {% include 'header-main.html' %}
    {% include 'header-search.html' %}
    {% load static %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'profiles:profile' %}">Личный кабинет</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles:profile_edit' %}">Профиль</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles:product_history' %}">История просмотров</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'orders:orders_history_list' %}">История заказов</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Account">
                        <div class="Account-group">
                            <div class="Account-column">
                                {% if object.avatar %}
                                <div class="Account-avatar"><img src="{{object.avatar.url}}" alt="card.jpg"/></div>
                                {% else %}
                                <div class="Account-avatar"><img src="{% static 'assets/img/content/home/card.jpg' %}" alt="card.jpg"/></div>
                                {% endif %}
                            </div>
                            <div class="Account-column">
                                <div class="Account-name">{{object.first_name}} {{object.last_name}} </div>
                                <a class="Account-editLink" href="{% url 'profiles:profile_edit' %}">Редактировать профиль</a>
                            </div>
                        </div>
                        {% if order %}
                        <div class="Account-group">
                            <div class="Account-column Account-column_full">
                                <div class="Order Order_anons">
                                    <div class="Order-personal">
                                        <div class="row">
                                            {% if order %}
                                            <div class="row-block"><a class="Order-title" href="{% url 'orders:orders_history_detail' id=order.id %}">Заказ <span class="Order-numberOrder">№{{ order.id }}</span> от <span class="Order-dateOrder">{{ order.created_at|date:"d.m.Y" }}</span></a>
                                                <div class="Account-editLink"><a href="{% url 'orders:orders_history_list' %}">История заказов</a>
                                                </div>
                                            </div>
                                            <div class="row-block">
                                                <div class="Order-info Order-info_delivery">
                                                    <div class="Order-infoType">Тип доставки:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.get_delivery_display }}
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_pay">
                                                    <div class="Order-infoType">Оплата:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.get_pay_display }}
                                                    </div>
                                                </div>
                                                <div class="Order-info">
                                                    <div class="Order-infoType">Общая стоимость:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.total_cost|floatformat:2 }}$
                                                    </div>
                                                </div>
                                                <div class="Order-info Order-info_status">
                                                    <div class="Order-infoType">Статус:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.get_status_display }}
                                                    </div>
                                                </div>
                                                {% if order.error_message %}
                                                <div class="Order-info Order-info_error">
                                                    <div class="Order-infoType">Оплата не прошла:
                                                    </div>
                                                    <div class="Order-infoContent">{{ order.error_message }}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                            {% else %}
                                            <p>Заказов пока нет</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
{% endblock %}
