{% extends 'base.html' %}
{% block content %}
    {% include 'header-top.html' %}
    {% include 'header-main.html' %}
    {% include 'header-search.html' %}
    {% load static %}
    {% load user_tags %}
    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles:profile' %}">Личный кабинет</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles:profile_edit' %}">Профиль</a></li>
                                    <li class="menu-item"><a class="menu-link" href="#">История заказов</a></li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'profiles:product_history' %}">История просмотров</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <header class="Section-header">
                        <h2 class="Section-title">История просмотра товаров
                        </h2>
                    </header>
                    <div class="Cards">
                        {% for history_product in history_products %}

                        <div class="Card">
                            {% if history_product.product.image %}
                            <a class="Card-picture" href="{% url 'profiles:profile' %}"><img src="{{history_product.product.image.url}}" alt="card.jpg" /></a>
                            {% endif %}
                            <div class="Card-content">
                                <strong class="Card-title"><a href="#">{{history_product.product.name}}</a>
                                </strong>
                                <div class="Card-description">
                                    <div class="Card-cost"><span class="Card-price">${% get_min_price  history_product.product  %}</span>
                                    </div>
                                    {% if history_product.product.category.parent.name %}
                                    <div class="Card-category">{{history_product.product.category.parent.name}} / {{history_product.product.category.name}}
                                    </div>
                                    {% else %}
                                    <div class="Card-category">{{history_product.product.category.name}}
                                    </div>
                                    {% endif %}
                                    <div class="Card-hover"><a class="Card-btn" href="{% url 'products:product_detail' pk=history_product.product.id %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
