{% extends 'base.html' %}

{% block content %}
    {% include 'header-top.html' %}
    {% include 'header-main.html' %}
    {% include 'header-search.html' %}
    {% load static %}

    <div class="Middle Middle_top">
        <div class="Section Section_column Section_columnLeft">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection">
                        <header class="Section-header">
                            <strong class="Section-title">Навигация</strong>
                        </header>
                        <div class="Section-columnContent">
                            <div class="NavigateProfile">
                                <ul class="menu menu_vt">
                                    <li class="menu-item"><a class="menu-link" href="{% url 'profiles:profile' %}">Личный кабинет</a></li>
                                    <li class="menu-item_ACTIVE menu-item"><a class="menu-link" href="{% url 'profiles:profile_edit' %}">Профиль</a></li>
                                    <li class="menu-item"><a class="menu-link" href="{% url 'orders:orders_history_list' %}">История заказов</a></li>
                                    <li class="menu-item"><a class="menu-link" href="#">История просмотров</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Section-content">
                    <div class="Profile">
                        <form class="form Profile-form" action="#" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="avatar">Аватар
                                        </label>
                                        <div class="Profile-avatar Profile-avatar_noimg">

                                            <label class="Profile-fileLabel" for="avatar"><img src="{% static 'assets/img/icons/upload.png' %}" alt="#.png" />Загрузить фото
                                            </label>

                                            <input class="Profile-file form-input" id="avatar" name="avatar" type="file" data-validate="onlyImgAvatar"/>
                                            {% if form.avatar.errors %}
                                            <div class="error" style="color: red;">{{ form.avatar.errors|join:", " }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="name">Фамилия имя
                                        </label>
                                        <input class="form-input" id="name" name="last_name" type="text" value="{{user.last_name}} {{user.first_name}}" data-validate="require" />
                                        {% if form.last_name.errors %}
                                        <div class="error" style="color: red;">{{ form.last_name.errors|join:", " }}</div>
                                        {% endif %}
                                        {% if form.first_name.errors %}
                                        <div class="error" style="color: red;">{{ form.first_name.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="form-group">
                                        <label class="form-label" for="{{ form.phone_number.id_for_label}}">Телефон
                                        </label>
                                        {{ form.phone_number }}
                                        {% if form.phone_number.errors %}
                                        <div class="error" style="color: red;">{{ form.phone_number.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="mail">E-mail
                                        </label>
                                        <input class="form-input" id="mail" name="email" type="text" value="{{user.email}}" data-validate="require" />
                                        {% if form.email.errors %}
                                        <div class="error" style="color: red;">{{ form.email.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password">Пароль
                                        </label>
                                        <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль" autocomplete="new-password" />
                                        {% if form.password.errors %}
                                        <div class="error" style="color: red;">{{ form.password.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="password_reply">Подтверждение пароля
                                        </label>
                                        <input class="form-input" id="password_reply" name="password_reply" type="password" placeholder="Введите пароль повторно" />
                                        {% if form.password_reply.errors %}
                                        <div class="error" style="color: red;">{{ form.password_reply.errors|join:", " }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <div class="Profile-btn">
                                            <button class="btn btn_success" type="submit">Сохранить
                                            </button>
                                        </div>
                                        {% if form.is_valid %}
                                        <div class="Profile-success">
                                            Профиль успешно сохранен
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        console.log('jQuery loaded:', typeof $ !== 'undefined');
        console.log('Inputmask loaded:', typeof $.fn.inputmask !== 'undefined');

        if (typeof $ !== 'undefined' && $.fn.inputmask) {
            $('.phone-mask').inputmask('+7 (999) 999-99-99');
        } else {
            console.error('jQuery or Inputmask is not loaded');
        }
    });

</script>
{% endblock %}
