{% load static %}

<header class="Header">
     <div class="Header-searchWrap">
         <div class="wrap">
             <div class="Header-categories">
                 <div class="CategoriesButton">
                     <div class="CategoriesButton-title">
                         <div class="CategoriesButton-icon"><img src="{% static 'assets/img/icons/allDep.svg' %}"
                                                                 alt="allDep.svg"/>
                         </div>
                         <span class="CategoriesButton-text">Все категории</span>
                         <div class="CategoriesButton-arrow"></div>
                            {% include "category-menu.html" %}
                     </div>
                 </div>
             </div>
             <div class="Header-searchLink"><img src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>
             </div>
             <div class="Header-search">
                 <div class="search">
                     <form class="form form_search" action="#" method="post">
                         {% csrf_token %}
                         <input class="search-input" id="title" name="title" type="text"
                                placeholder="Поиск по товарам"/>
                         <button class="search-button" type="submit" name="search" id="search"><img
                                 src="{% static 'assets/img/icons/search.svg' %}" alt="search.svg"/>Поиск
                         </button>
                     </form>
                 </div>
             </div>
         </div>
     </div>
</header>