{% extends "base.html" %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="Восстановление пароля">
{% endblock meta %}

{% block header %}
    {% include "header-top.html" %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            {% blocktranslate %}
                <h3 class="sign-in">Восстановление пароля (2/2)</h3>
                <h5>Придумайте новый пароль для учетной записи</h5>
            {% endblocktranslate %}
        </div>

        <form action="#">
            {% csrf_token %}
            <div>
                {{ form.new_password1.errors }}
                {{ form.new_password1 }}
            </div>
            <div>
                <input type="submit" value="{% translate 'Сохранить пароль' context 'input submit'%}" />
            </div>
        </form>
    </div>
{% endblock %}


