{% extends "base.html" %}
{% load i18n %}

{% block meta %}
    <meta name="description" content="Восстановление пароля">
{% endblock meta %}

{% block header %}
    {% include "header-top.html" %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            {% blocktranslate %}
                <h3 class="sign-in">Восстановление пароля (1/2)</h3>
                <h5>Для восстановления пароля введите адрес электронной почты, на которую зарегистрирована учетная запись</h5>
            {% endblocktranslate %}
        </div>

        <form action="#" method="post">
            {% csrf_token %}
            <div>
                {{ form.email.errors }}
                {{ form.email }}
            </div>
            <div>
                <input type="submit" value="{% translate 'Восстановить пароль' context 'input submit' %}" />
            </div>
            <a class="registr" href="{% url 'profiles:login' %}">{% translate "Вход" %}</a>
        </form>
    </div>
{% endblock %}
