{% extends "base.html" %}

{% block meta %}
    <meta name="description" content="Регистрация нового пользователя">
{% endblock meta %}

{% block header %}
    {% include "header-top.html" %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="header">
            <h3 class="sign-in">Регистрация</h3>
        </div>
        <div class="clear"></div>
        <form action="#" method="post">
            {% csrf_token %}
            <div>
                {{ form.email }}
            </div>
            <div>
                {{ form.password1 }}
            </div>
            <input type="submit" value="Зарегистрироваться" />
            <a class="registr" href="login.html">
                Вход
            </a>
            <div class="clear"></div>
        </form>
    </div>
{% endblock %}