{% load custom_filters %}
<div class="Tabs-wrap">
    <div class="Tabs-block" id="description">
        <h2>Megano Store Hystory
        </h2>
    </div>
    <div class="Tabs-block" id="sellers">
    </div>
    <div class="Tabs-block" id="addit">
    </div>

    <div class="Tabs-block" id="reviews">
        <header class="Section-header">
            <h3 class="Section-title">
                {{ object.reviews.all| length }} {{ object.reviews.all|length|ru_pluralize:"отзыв,отзыва,отзывов" }}
            </h3>
        </header>

        {% for review in object.reviews.all %}
        <div class="Comments">
            <div class="Comment">
                <div class="Comment-column Comment-column_pict">
                    <div class="Comment-avatar">
                    </div>
                </div>
                <div class="Comment-column">
                    <header class="Comment-header">
                        <div>
                            <strong class="Comment-title">{{ review.user.username }}
                            </strong><span class="Comment-date"> {{ review.created_at|date:"F d / Y / H:i" }}</span>
                        </div>
                    </header>
                    <div class="Comment-content"> {{ review.text }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <header class="Section-header Section-header_product">
            <h3 class="Section-title">Добавить отзыв
            </h3>
        </header>
        <div class="Tabs-addComment">

            <form class="form" action="{% url 'add_review' pk=object.pk %}" method="post">
                {% csrf_token %}

                <div class="form-group">
                    {% if form %}
                    {{ form.as_p }}
                    {% else %}
                    <textarea class="form-textarea" name="text" id="review" placeholder="Отзыв"></textarea>
                    {% endif %}
                </div>

                <input type="hidden" name="user" value="{{ request.user.pk }}">
                <div class="form-group">
                    <button class="btn btn_muted" type="submit">Отправить отзыв
                    </button>
                </div>

            </form>
        </div>

        {% else %}
        <header class="Section-header Section-header_product">
            <h3 class="Section-title">
                <div>Чтобы оставить отзыв, вам нужно авторизоваться</div>
                <div><a href="#">Вход</div>
            </h3>
        </header>
        {% endif %}

    </div>
</div>