{% extends 'base.html' %}



{% block content %}

{% include 'header-top.html' %}
{% include 'header-main.html' %}
{% include 'header-search.html' %}
<p></p>
{% load custom_filters %}
<div class="Tabs Tabs_default">
    <div class="Tabs-links">
        <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
            <span>Описание</span>
        </a>
        <a class="Tabs-link" href="#sellers">
            <span>Продавцы</span>
        </a>
        <a class="Tabs-link" href="#addit">
            <span>Характеристика</span>
        </a>
        <a class="Tabs-link" href="#reviews">
            <span>Отзывы ({{ object.reviews|filter_by:"is_active=True"|length }})</span>
        </a>
    </div>
        {% include 'products/add_review.html' %}
    </div>
</div>
{% endblock %}
