{% load static %}
<div class="Tabs-block" id="sellers">
    <div class="Section-content">
        <div class="Orders">
            {% for seller in sellers_data %}
                <div class="Order Order_anons">
                    <div class="Order-personal">
                        <div class="row">
                            <div class="row-block">
                                <a class="Order-title" href="oneorder.html">
                                    {{ seller.name }} {{ seller.id }}
                                </a>
                                <div class="ProductCard-cartElement" style="margin-top: 10px;">
                                    <a class="btn btn_primary btn_buy" href="#" data-seller-id="{{ seller.id }}">
                                        <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}"
                                             alt="cart_white.svg"/>
                                        <span class="btn-content">Купить</span>
                                    </a>
                                </div>
                                <!-- Добавление товара в сравнение-->
                                {% if not seller.id in request.session.comparison_data %}
                                <div>
                                    <a class="btn btn_primary btn_comparison" href="#" data-item-id="{{ seller.id }}" style="margin-top: 10px;">
                                        <img class="btn-icon" src="{% static 'assets/img/icons/card/product_comparison.svg' %}" alt="Сравнение товаров" width="23px" height="23px"/>
                                        <span class="btn-content">Сравнить</span>
                                    </a>
                                </div>
                                {% else %}
                                <div>
                                    <a class="btn btn_primary btn_comparison_del" href="#" data-item-id="{{ seller.id }}" style="margin-left: 10px;">
                                        <img class="btn-icon" src="{% static 'assets/img/icons/card/product_comparison.svg' %}" alt="Сравнение товаров" width="23px" height="23px"/>
                                        <span class="btn-content">Не сравнивать</span>
                                    </a>
                                </div>
                                {% endif %}

                                <div id="modal_open" class="my_modal">
                                    <div class="my_modal-dialog">
                                        <div class="my_modal-content">
                                            <div class="my_modal-header">
                                                <p class="my_modal-title">Поздравляем!</p>
                                                <a href="#" title="Закрыть модальное окно" class="close">×</a>
                                            </div>
                                            <div class="my_modal-body">
                                                <p>Товар успешно добавлен в корзину!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row-block">
                                <div class="Order-info Order-info_delivery">
                                    <div class="Order-infoType">Тип доставки:
                                    </div>
                                    <div class="Order-infoContent">{{ seller.delivery_type }}
                                    </div>
                                </div>
                                <div class="Order-info Order-info_pay">
                                    <div class="Order-infoType">Оплата:
                                    </div>
                                    <div class="Order-infoContent">{{ seller.payment_type }}
                                    </div>
                                </div>
                                <div class="Order-info">
                                    <div class="Order-infoType">Стоимость:
                                    </div>
                                    <div class="Order-infoContent"><span class="Order-price">{{ seller.price }}$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const buyButtons = document.querySelectorAll('.btn_buy');
    const modal = document.getElementById('modal_open');
    const closeButton = document.querySelector('.close');

    buyButtons.forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const productSellerId = this.getAttribute('data-seller-id'); // Получаем seller.id
            const amount = "1";

            fetch("{% url 'products:addproduct' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: new URLSearchParams({
                    product_seller_id: productSellerId,
                    amount: amount
                })
            })
            .then(response => response.json())
            .then(data => {
                modal.style.display = 'block'; // Показать модальное окно
            })
            .catch(error => {
                console.error('Ошибка при добавлении товара в корзину:', error);
            });
        });
    });

    // Закрытие модального окна
    closeButton.addEventListener('click', function(event) {
        event.preventDefault();
        modal.style.display = 'none'; // Скрыть модальное окно
        location.reload();
    });
});
</script>
