{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="description" content="Корзина товаров">
{% endblock %}

{% block header %}
    {% include "header-top.html" %}
{% endblock %}

{% block content %}
<div class="Section">
    <div class="wrap">
        <form class="form Cart" action="#" method="post">
            {% csrf_token %}
            {% for item in cart_items %}
            <div class="Cart-product">
                <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img" src="{{ item.product_seller.product.image.url }}" alt="{{ item.product_seller.product.name }}"></a>
                    </div>
                    <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ item.product_seller.product.name }}</a>
                        <div class="Cart-desc">{{ item.product_seller.product.description }}
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_price">
                        <div class="Cart-price">{{ item.product_seller.price }}$
                        </div>
                    </div>
                </div>
                <div class="Cart-block Cart-block_row">
                    <div class="Cart-block Cart-block_seller">
                        <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->

                    </div>
                    <div class="Cart-block Cart-block_amount">
                        <div class="Cart-amount">
                            <div class="Amount">
                                <button class="Amount-remove" data-item-id="{{ item.id }}" type="button">
                                </button>
                                <input class="Amount-input form-input" data-item-id="{{ item.id }}" name="amount" type="text" value="{{ item.quantity }}" min="1" />
                                <button class="Amount-add" data-item-id="{{ item.id }}" type="button">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_delete"><a class="Cart-delete" href="#" data-item-id="{{ item.id }}"><img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="Delete"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="Cart-total">
                <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">Итого:
                    </strong><span class="Cart-price" id="total-price">{{ total_price|floatformat:2 }}$</span>
                </div>
                <div class="Cart-block"><a class="btn btn_success btn_lg" href="order.html">Оформить заказ</a>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <!-- <script src="{% static 'assets/plg/jQuery/jquery-3.5.0.slim.min.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.form.js' %}"></script>
    <script src="{% static 'assets/plg/form/jquery.maskedinput.min.js' %}"></script>
    <script src="{% static 'assets/plg/range/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'assets/plg/Slider/slick.min.js' %}"></script>
    <script src="{% static 'assets/js/scripts.js' %}"></script> -->
{% endblock %}
