{% extends 'base.html' %}
{% block content %}
    {% include 'header-top.html' %}
    {% include 'header-main.html' %}
    {% include 'header-search.html' %}
    {% load static %}
 <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Оплата
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Оплата</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <form class="form Payment" action="#" method="post">
                    {% csrf_token %}
                    <div class="Payment-card">
                        <div class="form-group">
                            {% if pay == 'online' %}
                            <label class="form-label">Номер карты
                            </label>
                            {% else %}
                            <label class="form-label">Номер счета
                            </label>
                            {% endif %}
                            <input class="form-input Payment-bill" id="numero1" name="numero1" type="text" placeholder="9999 9999" data-mask="9999 9999" data-validate="require pay" />
                            {% if not pay == 'online' %}
                            <div class="form-group"><a class="btn btn_success Payment-generate" href="#" id="generate-account">Сгенирировать случайный счет</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="Payment-pay"><button class="btn btn_primary" href="#" type="submit">Оплатить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

<script>
    // Функция для генерации случайного восьмизначного числа
    function generateRandomAccount() {
        const min = 10000000;
        const max = 99999999;
        return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    // Обработчик клика на кнопку "Сгенерировать случайный счёт"
    document.getElementById('generate-account').addEventListener('click', function () {
        const randomAccount = generateRandomAccount();
        document.getElementById('numero1').value = randomAccount;
    });
</script>

{% endblock %}
