{% extends 'base.html' %}
{% block content %}
    {% include 'header-top.html' %}
    {% include 'header-main.html' %}
    {% include 'header-search.html' %}
    {% load static %}
<div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">Ожидание оплаты
                    </h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item"><a href="index.html">home</a>
                        </li>
                        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Ожидание оплаты</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="ProgressPayment">
                    {% if data %}
                    <div class="ProgressPayment-title">{{data.message}}
                    </div>
                    {% else %}
                    <div class="ProgressPayment-title">Ждем подтверждения оплаты платежной системой
                    </div>
                    <div class="ProgressPayment-icon">
                        <div class="cssload-thecube">
                            <div class="cssload-cube cssload-c1"></div>
                            <div class="cssload-cube cssload-c2"></div>
                            <div class="cssload-cube cssload-c4"></div>
                            <div class="cssload-cube cssload-c3"></div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
<script>
    // Проверяем, есть ли данные {{ data }}
    const hasData = {{ data|yesno:"true,false" }};

    // Если данных нет, запускаем обновление страницы каждые 5 секунд
    if (!hasData) {
        setInterval(function() {
            location.reload();
        }, 5000); // 5000 миллисекунд = 5 секунд
    }
</script>
{% endblock %}
